body
{
	background-color: #000018;
	color: lemonchiffon;
	
	font-family: bahnschrift;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

h3
{
    text-align: center;
	font-weight: bold;
}

h4
{
	font-weight: bold;
}

p
{
	margin: 0px 40px;
	text-indent: 25px; /* Sangría */
	line-height: 1.5;
}

section
{
	background-color: white;
	color: black;
	line-height: 1.5;
	
	width: 98%;
	padding: 40px 100px;
	margin-left: 1%;
}

footer
{
	background-color: #000018;
	
	color: lemonchiffon;
	font-family: bahnschrift;
	line-height: 1.5;
	
	padding: 5em 5em;
}

.parentDiv
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.parentDiv-Space_Evenly
{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 20px 0px;
}

.parentDiv-Flex_Start
{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.parentDiv-Flex_End
{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.childDiv
{
	background-color: #BCBDE3;
	
	width: 40%;
	padding: 20px 30px;
}

.bpointList
{
	list-style: inside;
}

.bpointList li
{
	font-weight: bold;
	margin: 5px 0px;
}

#passwordListDiv p
	{
		font-size: 0.9rem;
	}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table{
	width: 70vw;
	align-self: center;
}

th {
	text-align: center;
	background: rgba(240, 15, 52, 0.5);
	font-size: 1.5rem;
	padding: 0.4em 0em;
}

td {
	padding: 10px 30px;
	background: rgba(240, 15, 52, 0.1);
}

/* La navbar */
#headerMain
{
	background-color: white;
	color: black;
	
	width: 100%;
	height: 60px;
	position: sticky;
	top: 0;
	
	display: flex;
	justify-content: space-between;
}

#headerMain-logo
{
	width: fit-content;
	height: 100%;
	padding-left: 60px;
	
	display: flex;
}

#headerMain-logo img
{
	height: 50px;
	align-self: center;
}

#headerMain-nav
{
	width: fit-content;
	height: 100%;
	padding-right: 60px;
}

#headerMain-nav ul li
{
	display: inline;
	float: left;
	margin-left: 20px;
}

#headerMain-nav ul li a
{
	height: 100%;
	padding: 0 10px;
	line-height: 60px;
	
	display: block;
	
	font-weight: bold;
	font-size: 1.125rem;
}

#headerMain-nav ul li a:hover
{
	color: #CF3967;
}

#headerMain-name
{
	width: fit-content;
	height: 100%;
	
	line-height: 60px;
	padding-right: 60px;
	
	display: flex;
}

#headerMain-name img
{
	margin-left: 10px;
	height: 50px;
	align-self: center;
}
/* Fin de la navbar */
/* La parte con la langosta */
main
{
	width: 100%;
	height: 50vh;
	
	background-color: indigo;
	background-image: url(LangostaPagina.png), url(FondoPagina.jpg);
	background-size: 100vh, 100% 100%;
	background-repeat: no-repeat;
	background-position: bottom, center;
	
	justify-content: center;
}

main h1
{
	font-size: 4rem;
	font-family: bahnschrift;
	padding: 0.25em 0em;
	color: #DE0630;
	background: rgba(18, 0, 30, 0.5);
	
	text-align: center;
}

#h2Rebelde
{
	font-size: 2rem;
	font-family: arial;
	font-weight: bold;
	color: #F1DCFF;
	background: rgba(18, 0, 30, 0.5);
	
	padding: 0.25em 1em;
	margin-top: -1px;
	text-align: center;
	
	border-top: solid;
	border-bottom: solid;
	border-color: gold;
}
/* Fin de la parte con la langosta */
/* Contenido */
/* Introducción */
#introSection
{
	background-image: linear-gradient(#12001E, #EEE5F3, #EEE5F3, #EEE5F3, white, white, white, white, white, white, white);
}
/* Datos */
#dataSection
{
	background-color: #EAE0F6;
}
#obligacionesDiv
{
	background-color: #BC9DE0;
	margin: 20px 10px;
	width: 40%;
	min-width: 750px;
	flex: 1;
}
#derechosDiv
{
	background-color: #BC9DE0;
	margin: 20px 10px;
	width: 25%;
	max-width: 345px;
	flex: 1;
}
#definicionDatosDiv
{
	width: 70%;
	min-width: 716px;
	flex: 1;
}
#datosPersonalesImg
{
	width: 420px;
	height: 450px;
	align-self: center;
	align-content: center;
}
#datosPersonalesDiv
{
	background-color: #BC9DE0;
	width: 40%;
	margin: 20px 10px;
}
#datosNoPersonalesDiv
{
	background-color: #BC9DE0;
	margin: 20px 10px;
	width: 40%;
	flex: 1;
}
/* Contraseñas */
#passwordSection
{
	background-color: #E8EAFA;
}
#passwordListDiv
{
	background-color: #E8EAFA;
	width: 30%;
	max-height: 75vh;
	flex: 1;
	padding: 4em 5em;
}
#explicacionPassDiv
{
	width: 400px;
	align-self: center;
	align-content: center;
}
/* Encriptación */
#encryptionSection
{
	background-color: #F8F4E1;
}
.cifradosFuncionamiento
{
	background-color: #F5D694;
	
	width: 30%;
	min-height: 51vh;
	max-height: 500px;
	margin: 0px;
	padding: 20px 60px;
	flex: 1;
}
.explicacionEncrDiv
{
	width: 400px;
	align-self: center;
	align-content: center;
}
/* Fin de cifrado */
#outroSection
{
	background-image: linear-gradient(white, white, white, white, white, white, white, white, #EEE5F3, #EEE5F3, #12001E);
}
/* Footer */
#footerImgDiv
{
	margin: 0em 1.5em;
	width: 50px;
	height: 50px;
	align-self: center;
	margin-left: 2em;
}
.footerDiv
{
	margin: 1em 1.5em;
}

/* Me when the responsive is code */

@media (max-width: 980px){
	
}

@media (max-width: 1024px){
	
}

@media (max-width: 768px){
	body{
		font-size: 0.75rem;
		width: 100%;
	}
	h1{
		font-size: 1.75rem;
	}
	h2{
		font-size: 1.25rem;
	}
	h3{
		font-size: 1rem;
	}
	/* navbar */
	#headerMain{
		height: 120px;
	}
	#headerMain-logo{
		height: 100%;
		padding-left: 20px;
	}
	#headerMain-nav{
		width: 440px;
		padding-right: 60px;
		display: flex;
		flex-wrap: wrap;
	}
	#headerMain-nav ul li{
		display: inline;
		float: left;
		margin-left: 30px;
	}

	#headerMain-nav ul li a{
		height: 100%;
		padding: 0 10px;
		line-height: 60px;
		font-size: 1.5rem;
	}
	/* Datos */
	#obligacionesDiv{
		margin: 20px 10px;
		width: 40%;
		min-width: 400px;
		max-width: 532px;
		flex: 1;
	}
	#derechosDiv{
		background-color: #BC9DE0;
		margin: 20px 10px;
		width: 25%;
		max-width: 532px;
		flex: 1;
	}
	#passwordListDiv p
	{
		display: none;
	}
}

@media (max-width: 425px){
	.resumible{
		display: none;
	}
	body{
		font-size: 0.75rem;
	}
	
	section{
		width: 100%;
		margin: 0%;
		padding: 40px 10px;
	}
	
	h1{
		font-size: 1.75rem;
	}
	
	h2{
		font-size: 1rem;
	}
	
	h3{
		font-size: 0.9rem;
	}
	/* navbar */
	#headerMain{
		height: 80px;
	}
	#headerMain-logo{
		padding-left: 10px;
	}
	#headerMain-logo img{
		display: none;
	}
	#headerMain-nav{
		width: 340px;
		padding: 0px;
		display: flex;
		flex-wrap: wrap;
	}
	#headerMain-nav ul{
		display: inline;
		float: left;
		max-width: 250px;
	}
	#headerMain-nav ul li a{
		padding: 0 5px;
		line-height: 40px;
		font-size: 0.8rem;
	}
	#headerMain-name h3{
		display: none;
	}
	#headerMain-name{
		padding: 0px;
		margin-right: 10px;
	}
	#headerMain-name img{
		margin-right: 20px;
	}
	#tituloh3{
		display: none;
	}
	/* navbar fin */
	main{
		height: 30vh;
		background-size: 50vh, 100% 100%;
	}
	main h1{
		padding: 0.1em;
	}
	#obligacionesDiv{
		margin: 0px 10px;
		min-width: 385px;
		flex: 1;
	}
	#derechosDiv{
		margin: 20px 10px;
		flex: 1;
	}
	#definicionDatosDiv{
		min-width: 316px;
		margin-bottom: 10px;
		flex: 1;
	}
	#datosPersonalesDiv{
		margin: 20px 10px;
		flex: 1;
	}
	#datosNoPersonalesDiv{
		margin: 0px 10px;
		min-width: 385px;
		flex: 1;
	}
	.explicacionEncrDiv{
		margin: 10px 0px;;
	}
}