body
{
	background-color: #000018;
	color: lemonchiffon;
	
	font-family: bahnschrift;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

h3
{
    text-align: center;
	font-weight: bold;
}

h4
{
	font-weight: bold;
}

p
{
	margin: 0px 40px;
	text-indent: 25px; /* Sangría */
	line-height: 1.5;
}

section
{
	background-color: white;
	color: black;
	line-height: 1.5;
	
	width: 98%;
	padding: 40px 100px;
	margin-left: 1%;
}

footer
{
	background-color: #000018;
	
	color: lemonchiffon;
	font-family: bahnschrift;
	line-height: 1.5;
	
	padding: 5em 5em;
}

.parentDiv-Space_Evenly
{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.parentDiv-Flex_Start
{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.parentDiv-Flex_End
{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.childDiv
{
	background-color: #BCBDE3;
	
	width: 40%;
	padding: 20px 30px;
}

.bpointList
{
	list-style: inside;
}

.bpointList li
{
	font-weight: bold;
	margin: 5px 0px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table{
	width: 70vw;
	align-self: center;
}

th {
	text-align: center;
	background: rgba(240, 15, 52, 0.5);
	font-size: 1.5rem;
	padding: 0.4em 0em;
}

td {
	padding: 10px 30px;
	background: rgba(240, 15, 52, 0.1);
}

/* La navbar */
#headerMain
{
	background-color: white;
	color: black;
	
	width: 100%;
	height: 60px;
	position: sticky;
	top: 0;
	
	display: flex;
	justify-content: space-between;
}

#headerMain-logo
{
	width: fit-content;
	height: 100%;
	padding-left: 60px;
	
	display: flex;
}

#headerMain-logo img
{
	height: 50px;
	align-self: center;
}

#headerMain-nav
{
	width: fit-content;
	height: 100%;
	padding-right: 60px;
}

#headerMain-nav ul li
{
	display: inline;
	float: left;
	margin-left: 20px;
}

#headerMain-nav ul li a
{
	height: 100%;
	padding: 0 10px;
	line-height: 60px;
	
	display: block;
	
	font-weight: bold;
	font-size: 1.125rem;
}

#headerMain-nav ul li a:hover
{
	color: #CF3967;
}

#headerMain-name
{
	width: fit-content;
	height: 100%;
	
	line-height: 60px;
	padding-right: 60px;
	
	display: flex;
}

#headerMain-name img
{
	margin-left: 10px;
	height: 50px;
	align-self: center;
}
/* Fin de la navbar */
/* La parte con la langosta */
main
{
	width: 100%;
	height: 50vh;
	
	background-color: indigo;
	background-image: url(LangostaPagina.png), url(FondoPagina.jpg);
	background-size: 100vh, 100% 100%;
	background-repeat: no-repeat;
	background-position: bottom, center;
	
	justify-content: center;
}

main h1
{
	font-size: 4rem;
	font-family: bahnschrift;
	padding: 0.25em 0em;
	color: #DE0630;
	background: rgba(18, 0, 30, 0.5);
	
	text-align: center;
}

#h2Rebelde
{
	font-size: 2rem;
	font-family: arial;
	font-weight: bold;
	color: #F1DCFF;
	background: rgba(18, 0, 30, 0.5);
	
	padding: 0.25em 1em;
	margin-top: -1px;
	text-align: center;
	
	border-top: solid;
	border-bottom: solid;
	border-color: gold;
}
/* Fin de la parte con la langosta */
/* Contenido */
/* Introducción */
#introSection
{
	background-image: linear-gradient(#12001E, #EEE5F3, #EEE5F3, #EEE5F3, white, white, white, white, white, white, white);
}
#imgIntro
{
	background-color: indigo;
	background-image: url("IntroImagen.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	height: 400px;
	align-self: center;
}
/* Datos */
#dataSection
{
	background-color: #EAE0F6;
}
#obligacionesDiv
{
	margin: 20px 10px;
	width: 40%;
	flex: 1;
}
#derechosDiv
{
	margin: 20px 10px;
	width: 25%;
}
#definicionDatosDiv
{
	width: 70%;
	flex: 1;
}
#datosPersonalesImg
{
	background-color: indigo;
	background-image: url("datosPersonalesImagen.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 22vw;
	height: 45vh;
	align-self: center;
}
#datosPersonalesDiv
{
	width: 40%;
	margin: 20px 10px;
}
#datosNoPersonalesDiv
{
	margin: 20px 10px;
	width: 40%;
	flex: 1;
}
/* Contraseñas */
#passwordSection
{
	background-color: #E8EAFA;
}
#passwordListDiv
{
	width: 30%;
	flex: 1;
	padding: 2em 5em;
}
#explicacionPassDiv
{
	background-color: indigo;
	background-image: url("ejemploPassword.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 22vw;
	height: 75vh;
	align-self: center;
}
/* Encriptación */
#encryptionSection
{
	background-color: #F8F4E1;
}
.cifradosFuncionamiento
{
	background-color: #BCBDE3;
	
	width: 30%;
	min-height: 50vh;
	margin: 20px 0px;
	padding: 20px 60px;
	flex: 1;
}
.explicacionEncrDiv
{
	background-color: indigo;
	width: 22vw;
	min-height: 50vh;
	align-self: center;
}
#cifradosSustImg
{
	background-color: indigo;
	background-image: url("ejemplosSustitucion.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
#cifradosTransImg
{
	background-image: url("ejemplosTransposicion.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
#cifradosAlgNumImg
{
	background-image: url("ejemploAlgoritmoNumerico.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
/* Fin de cifrado */
#outroSection
{
	background-image: linear-gradient(white, white, white, white, white, white, white, white, #EEE5F3, #EEE5F3, #12001E);
}
/* Footer */
#footerImgDiv
{
	margin: 0em 1.5em;
	width: 7%;
	height: 7X;
	align-self: center;
	margin-left: 2em;
}
.footerDiv
{
	margin: 1em 1.5em;
}